/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

em {
  font-style: italic;
}


body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: 'Open Sans', sans-serif, "Helvetica Neue" ;
    background: #e6e6e6;   
    Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 80%;
    padding: 1em 1em 4em;
    box-shadow:  none;
}


/* -header---------------- */
header {
  padding: 3em;     
  padding-bottom: 20px;
}

header img .intropic { 
  margin-right: 1em; 
  float: left;
}


header h1 {
  font-weight: 400;
  font-size: 3em;  
}

header h2{
  font-size: 1.5em;
  font-weight: 300;  
}

.blank p{
  width: 31em; 
}

.clearfix {
  overflow: auto;
  clear: both;
}

nav.links ul {
  display: block-line;
}

li.git img {
  margin: 70px 0 0;
 } 

nav.links ul li{   
  list-style: none;
}
 img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
 }
/* header-end--------------- */

section.boxes{
}

.content {
    padding: 3em;
    background-color: 'light gray';
}

h2.box-title{
  font-size:1.3em;
  font-weight:600;
}

/* a {
    color: #0083e8;
} */

/* Boxes-------------------------------------------*/

.box {
    margin: 0 0 1em;
}

.box a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
    background: #f8fbfe;
}

/* 650----------------------------------------------*/
@media screen and (min-width: 650px) {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .double {
        flex: 2 0 100%;
    }

    .box {
        display: flex;
        width: calc(50% - .5em);
    }
	 
    .calc {
    /* width: 54px; */
    padding: 8px;
    margin-top: 40px;
    width: 30rem;
    }
}

/*900----------------------------------------------*/
@media screen and (min-width: 900px) {
    .boxes {
        max-width: 50em;
        margin: 0 auto;  
    }
    
    .box {
        width: calc(33.333333% - .5em);
    }

    .double {
        flex: none;
    }
	
   .links {
	display: flex;
	flex-wrap: wrap;
   }   
}
